html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/js/jquery.modal.js")
    script(src="/js/foundation.min.js")
    script(src="/js/foundation.dropdown.js")
    script(src="/js/foundation.reveal.js")
    script(src="/js/app.js")
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/foundation.css")
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="/css/mobile.css")
  body
    #header
      h1 Nakaz Online Bodega

    #nav
      a.products PRODUCTS
      a.orders ORDERS

      form#product
        //- select(id="product_id" class="selectlist")
        //-   option= "View a Product"
        a(href="#" data-dropdown="product_id" aria-controls="drop1" aria-expanded="false" class="button dropdown") View a Product
        ul(id="product_id" data-dropdown-content class="f-dropdown" aria-hidden="true" aria-autoclose="true")

      form#order
        a(href="#" data-dropdown="order_id" aria-controls="drop1" aria-expanded="false" class="button dropdown") View an Order
        ul(id="order_id" data-dropdown-content class="f-dropdown" aria-hidden="true" aria-autoclose="true")

        //- select(id="order_id" class="selectlist")
        //-   option= "View an Order"

      a.openModal New Order

      #myModal(href="#" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        form#newOrder
          h1 Please fill out your order
          input(id="name" class="orderinput" placeholder="Full Name")
          input(id="quantity" class="orderinput" placeholder="Quantity")
          select(id="order-product_id" class="selectlist")
          button(type="submit" class="tiny button") Submit Order


    .clear

    #container
      #grid(class="small-block-grid-1 medium-block-grid-2 large-block-grid-3")
