html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/js/app.js")
    link(rel="stylesheet" href="/css/styles.css")
  body
    #header
      h1 Welcome to Ze Store

    #nav
      a.products PRODUCTS
      br
      a.orders ORDERS

      form#product
        select(id="product_numbah")
        //- input(id="product_num")
        button(type="submit") View Product

      form#order
        input(id="order_num")
        button(type="submit") View Order

      form#newOrder
        input(id="name")
        input(id="quantity")
        input(id="product_id")
        button(type="submit") Submit Order
    #info
