html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/js/jquery.modal.js")
    script(src="/js/foundation.min.js")
    script(src="/js/foundation.dropdown.js")
    script(src="/js/foundation.reveal.js")
    script(src="/js/app.js")
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/foundation.css")
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="/css/mobile.css")
  body
    #header
      h1 Welcome to Ze Store

    #nav
      a.products PRODUCTS
      a.orders ORDERS

      form#product
        //- select(id="product_id" class="selectlist")
        //-   option= "View a Product"
        button(href="#" data-dropdown="product_id" aria-controls="drop1" aria-expanded="false" class="button dropdown") View a Product
        ul(id="product_id" data-dropdown-content class="f-dropdown" aria-hidden="true")

      form#order
        button(href="#" data-dropdown="order_id" aria-controls="drop1" aria-expanded="false" class="button dropdown") View an Order
        ul(id="order_id" data-dropdown-content class="f-dropdown" aria-hidden="true")

        //- select(id="order_id" class="selectlist")
        //-   option= "View an Order"

      a.openModal New Order

      #myModal(href="#" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        form#newOrder
          input(id="name")
          input(id="quantity")
          select(id="order-product_id" class="selectlist")
          button(type="submit") Submit Order

    .clear

    #container

//- <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Dropdown Button</button><br>
//- <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
//-   <li><a href="#">This is a link</a></li>
//-   <li><a href="#">This is another</a></li>
//-   <li><a href="#">Yet another</a></li>
//- </ul>